/* ROOT LIGHT THEME */
:root {
  --radius: 0.625rem;

  --background: #F8F9FA;
  --foreground: #1f1f1f;

  --card: #ffffff;
  --card-foreground: #1f1f1f;

  --popover: #ffffff;
  --popover-foreground: #1f1f1f;

  --primary: #FD7E14;
  --primary-foreground: #ffffff;

  --secondary: #0D4C5D;
  --secondary-foreground: #ffffff;

  --muted: #f1f3f5;
  --muted-foreground: #495057;

  --accent: #e9ecef;
  --accent-foreground: #212529;

  --destructive: #e03131;

  --border: #dee2e6;
  --input: #dee2e6;
  --ring: #adb5bd;

  --chart-1: #FD7E14;
  --chart-2: #0D4C5D;
  --chart-3: #74c0fc;
  --chart-4: #ffa8a8;
  --chart-5: #d0bfff;

  --sidebar: #ffffff;
  --sidebar-foreground: #1f1f1f;
  --sidebar-primary: #FD7E14;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #e9ecef;
  --sidebar-accent-foreground: #212529;
  --sidebar-border: #dee2e6;
  --sidebar-ring: #adb5bd;
}
