@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";
@plugin './hero.ts';
@source "../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";



@custom-variant dark (&:where(.dark, .dark *));
@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #FD7E14;
  --color-secondary: #0D4C5D;
  --color-secondary-hover: #0B3F4D;
  --color-body: #fff;
  --color-body-500: #fff;
  --color-dark: #27282C;
  --shadow-primary: 0px 16px 12px rgba(0, 0, 0, 0.03);
}



* {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #F8F9FA;
}





@media screen and (max-height: 700px) {
  .timeline-adoption {
    padding-top: 10px !important;
  }
}
